.main-header {
  padding: 20px 0;

  &__container {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .lw-logo {
    margin-right: 10px;
  }

  &__desc {
    max-width: 200px;

    @include m-b-tablet-lg-down {
      max-width: fit-content;
    }

    @include m-b-mobile-lg-down {
      display: none;
    }
  }

  &__contacts {
    @extend .flex-column;
    gap: 5px;
    margin: 0 auto;

    @include m-b-tablet-lg-down {
      display: none;
    }
  }

  .fv-btn {
    margin: 0 auto;

    @include m-b-down(1140px) {
      display: none;
    }
  }

  .user {
    max-width: 270px;
    margin-left: auto;

    @include m-b-tablet-down {
      display: none;
    }
  }

  &__menu,
  &__menu-overlay {
    display: flex;
    align-items: center;
    flex-grow: 1;
    gap: 20px;
  }

  .burger {
    display: none;
    margin-left: auto;

    @include m-b-tablet-down {
      display: flex;
    }
  }
}
