.sort {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 20px;

  & > * {
    width: calc(25% - 20px);

    min-height: 40px;
  }

  .custom-select-opener {
    min-height: 40px;
  }

  @include m-b-down(1140px) {
    & > * {
      width: calc(50% - 10px);
    }
  }

  @include m-b-down(620px) {
    & > * {
      width: 100%;
    }
  }
}
