.sort {
  display: flex;
  align-items: center;
  gap: 20px;

  & > * {
    width: 25%;

    min-height: 40px;
  }

  .custom-select-opener {
    min-height: 40px;
  }

  @include m-b-down(1140px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    & > * {
      width: 100%;
    }
  }

  @include m-b-down(620px) {
    grid-template-columns: 1fr;
  }
}
