include ../mixins/object-card

section.object-detail-map
  .lw-container
    +object-card({
      title: 'Просторная 2-х комнатная квартира ЖК “Белые ночи” д. 13, стр. 17, кв. 29203 2-х комнатная квартира ЖК “Белые ночи” д. 13, стр. 17, кв. 29203',
      img: 'object-card-img-1.png',
      moreBtn: false,

      table: {
        thead: [
          [
            { value: 'Стоимость' },
            { value: 'Стоимость кв.м.' },
          ],
          [
            { value: '1 122 304 830 p.' },
            { value: '1 304 830 p.' },
          ],
        ],

        tbody: [
          [
            { value: 'Общая площадь:' },
            { value: '150.68 м2' }
          ],
          [
            { value: 'Корпус:' },
            { value: '3' },
          ],
          [
            { value: '№ кв:' },
            { value: '308' },
          ],
          [
            { value: 'Тип кв:' },
            { value: '2 ккв' },
          ],
          [
            { value: 'Этаж:' },
            { value: '10' },
          ],
          [
            { value: 'Отделка:' },
            { value: 'Без отделки' },
          ],
          [
            { value: 'Срок сдачи:' },
            { value: '3 квартал 2022' },
          ],
        ]
      }
    })
