include ../mixins/object-preview-card

section.objects
  .lw-container.objects__container
    include ../components/sort
    .objects__header
      span.lw-text.lw-text--md Для вас подобрано 120 объектов
      +lw-btn({
        cls: 'lw-simple-btn lw-simple-btn--success-color ymaps-opener',
        tag: 'button',

        text: 'Посмотреть на карте',
        icon: 'icon-map.svg',
        iconWidth: '24',
        iconHeight: '24',
      })

    .objects__map
      #yMaps(data-center="59.90297506420561, 30.39827949999997" data-coords="59.90297506420561, 30.39827949999997")

    .objects__grid
      +object-preview-card({

        title: 'Просторный ЖК бизнес-класса “Белые ночи”',
        small: 'Чкаловский район',
        address: 'г. Москва, просп. Центральный проезд Хорошевского Серебряного Бора',

        stations: [
          {
            name: 'Волгоградский проспект',
            ambulationTime: '20 мин',
            ambulationTypeName: 'пешком',
            ambulationTypeIcon: 'icon-man.svg',
            ambulationTypeIconWidth: '14',
            ambulationTypeIconHeight: '14'
          },

          {
            name: 'Волгоградский проспект',
            ambulationTime: '20 мин',
            ambulationTypeName: 'пешком',
            ambulationTypeIcon: 'icon-man.svg',
            ambulationTypeIconWidth: '14',
            ambulationTypeIconHeight: '14'
          },

          {
            name: 'Волгоградский проспект',
            ambulationTime: '20 мин',
            ambulationTypeName: 'пешком',
            ambulationTypeIcon: 'icon-man.svg',
            ambulationTypeIconWidth: '14',
            ambulationTypeIconHeight: '14'
          },
        ]
      })

      +object-preview-card({
        img: 'object-2.jpg',
        title: 'Просторный ЖК бизнес-класса “Белые ночи”',
        small: 'Чкаловский район',
        address: 'г. Москва, просп. Центральный проезд Хорошевского Серебряного Бора',

        stations: [
          {
            name: 'Волгоградский проспект',
            ambulationTime: '20 мин',
            ambulationTypeName: 'пешком',
            ambulationTypeIcon: 'icon-man.svg',
            ambulationTypeIconWidth: '14',
            ambulationTypeIconHeight: '14'
          },

          {
            name: 'Волгоградский проспект',
            ambulationTime: '20 мин',
            ambulationTypeName: 'пешком',
            ambulationTypeIcon: 'icon-man.svg',
            ambulationTypeIconWidth: '14',
            ambulationTypeIconHeight: '14'
          },

          {
            name: 'Волгоградский проспект',
            ambulationTime: '20 мин',
            ambulationTypeName: 'пешком',
            ambulationTypeIcon: 'icon-man.svg',
            ambulationTypeIconWidth: '14',
            ambulationTypeIconHeight: '14'
          },
          {
            name: 'Волгоградский проспект',
            ambulationTime: '20 мин',
            ambulationTypeName: 'пешком',
            ambulationTypeIcon: 'icon-man.svg',
            ambulationTypeIconWidth: '14',
            ambulationTypeIconHeight: '14'
          },

          {
            name: 'Волгоградский проспект',
            ambulationTime: '20 мин',
            ambulationTypeName: 'пешком',
            ambulationTypeIcon: 'icon-man.svg',
            ambulationTypeIconWidth: '14',
            ambulationTypeIconHeight: '14'
          },

          {
            name: 'Волгоградский проспект',
            ambulationTime: '20 мин',
            ambulationTypeName: 'пешком',
            ambulationTypeIcon: 'icon-man.svg',
            ambulationTypeIconWidth: '14',
            ambulationTypeIconHeight: '14'
          },
        ]
      })

      +object-preview-card({
        img: 'object-1.jpg',
        title: 'Просторный ЖК бизнес-класса “Белые ночи”',
        small: 'Чкаловский район',
        address: 'г. Москва, просп. Центральный проезд Хорошевского Серебряного Бора',

        stations: [
          {
            name: 'Волгоградский проспект',
            ambulationTime: '20 мин',
            ambulationTypeName: 'пешком',
            ambulationTypeIcon: 'icon-man.svg',
            ambulationTypeIconWidth: '14',
            ambulationTypeIconHeight: '14'
          }
        ]
      })

      +object-preview-card({
        img: 'object-2.jpg',
        title: 'Просторный ЖК бизнес-класса “Белые ночи”',
        small: 'Чкаловский район',
        address: 'г. Москва, просп. Центральный проезд Хорошевского Серебряного Бора',

        stations: [
          {
            name: 'Волгоградский проспект',
            ambulationTime: '20 мин',
            ambulationTypeName: 'пешком',
            ambulationTypeIcon: 'icon-man.svg',
            ambulationTypeIconWidth: '14',
            ambulationTypeIconHeight: '14'
          },

          {
            name: 'Волгоградский проспект',
            ambulationTime: '20 мин',
            ambulationTypeName: 'пешком',
            ambulationTypeIcon: 'icon-man.svg',
            ambulationTypeIconWidth: '14',
            ambulationTypeIconHeight: '14'
          },

          {
            name: 'Волгоградский проспект',
            ambulationTime: '20 мин',
            ambulationTypeName: 'пешком',
            ambulationTypeIcon: 'icon-man.svg',
            ambulationTypeIconWidth: '14',
            ambulationTypeIconHeight: '14'
          },
        ]
      })
