.object-detail {
  &__container {
    @extend .flex-column;
    gap: var(--main-offset);
  }

  &__main {
    @extend .flex-wrap;
    gap: 20px;

    & > * {
      width: calc(50% - 20px);

      @include m-b-tablet-down {
        width: 100%;
      }
    }

    .lw-main-slider {
      position: sticky;
      top: 20px;

      @include m-b-tablet-down {
        position: static;
      }
    }
  }

  &__info {
    @extend .flex-column;
    gap: 20px;

    &-top {
      display: flex;
      align-items: center;
      gap: 20px;
      justify-content: space-between;
    }

    .collapsed-block {
      @extend .flex-column;
      gap: 20px;

      display: none;

      &.expanded {
        display: flex;
      }

      @include m-b-tablet-up {
        display: flex !important;
      }

      &-opener {
        width: fit-content;

        display: none;

        @include m-b-tablet-down {
          display: flex;
        }

        img {
          transform: rotate(180deg);
        }

        &.active {
          img {
            transform: rotate(0);
          }
        }

        span {
          text-decoration: initial;
        }
      }
    }
  }

  &__title {
    display: inline-block;
    margin-bottom: clamp(20px, 2vw, 30px);
  }

  &__desc {
    p:last-child {
      margin: 0;
    }

    .lw-text-truncate {
      &.truncated {
        @include text-truncate(3);
      }
    }
  }

  &__chars {
    padding-top: 10px;
    border-top: var(--main-border);
  }

  &__map {
    iframe {
      width: 100%;
      height: 50vw;
      height: 50dvw;
      max-height: 480px;
      min-height: 280px;
    }
  }
}
