.object-detail {
  &__container {
    @extend .flex-column;
    gap: var(--main-offset);
  }

  &__main {
    @extend .flex-wrap;
    gap: 20px;

    & > * {
      width: calc(50% - 20px);

      @include m-b-tablet-down {
        width: 100%;
      }
    }

    .lw-main-slider {
      position: sticky;
      top: 20px;

      @include m-b-tablet-down {
        position: static;
      }
    }
  }

  &__info {
    @extend .flex-column;
    gap: 20px;

    &-top {
      display: flex;
      align-items: center;
      gap: 20px;
      justify-content: space-between;
    }
  }

  &__title {
    display: inline-block;
    margin-bottom: clamp(20px, 2vw, 30px);
  }

  &__desc {
    p {
      margin: 0;
    }
  }

  &__chars {
    padding-top: 10px;
    border-top: var(--main-border);
  }
}
