.main-header__contacts
  a(href="tel:88129815617").lw-text 8 812 981-56-17
  a(href="mailto:info-email@mail.ru").lw-text.lw-text--sm.lw-text--success info-email@mail.ru
  a(href="https://joywork.ru/").lw-text.lw-text--sm.lw-text--info https://joywork.ru/
