.lw-multiple-checker
  .lw-multiple-checker-panel
    span Тип квартиры

  .lw-multiple-checker-container
    input(type="checkbox" id="lw_m_1" checked)
    label(for="lw_m_1") Студия

    input(type="checkbox" id="lw_m_2")
    label(for="lw_m_2") 1к.кв.

    input(type="checkbox" id="lw_m_3" checked)
    label(for="lw_m_3") 2к.кв.

    input(type="checkbox" id="lw_m_4")
    label(for="lw_m_4") 3к.кв.

    input(type="checkbox" id="lw_m_5" checked)
    label(for="lw_m_5") 4к.кв.

    input(type="checkbox" id="lw_m_6" checked)
    label(for="lw_m_6") 5к.кв.

    input(type="checkbox" id="lw_m_7" checked)
    label(for="lw_m_7") 6+к.кв.
