include ../mixins/lw-select
//- include ../mixins/lw-multiple-checker
include ../mixins/lw-btn
include ../mixins/lw-main-input

.sort
  +lw-select({
    options: [
      'Срок сдачи',
      '3 месяца',
      '1й квартал 2039 года',
      '3 месяца',
      '1й квартал 2039 года',
      '3 месяца',
      '1й квартал 2039 года',
      '3 месяца',
      '1й квартал 2039 года',
      '3 месяца',
      '1й квартал 2039 года',
    ]
  })

  +lw-main-input({
    text: 'Цена:',
    placeholder: 'От',
    secondField: true,
    secondFieldPlaceholder: 'До'
  })
  //- +lw-select({
  //-   options: [
  //-     'Цена от - до, руб.',
  //-     '1 000 000 - 5 000 000',
  //-     '10 000 000 - 50 000 000',
  //-     '100 000 000 - 500 000 000',
  //-   ]
  //- })

  include ./lw-multiple-checker

  +lw-btn({
    cls: 'lw-main-btn',
    tag: 'button',
    text: 'Подобрать'
  })


