include ../mixins/lw-select
include ../mixins/lw-btn

.sort
  +lw-select({
    options: [
      'Срок сдачи',
      '3 месяца',
      '1й квартал 2039 года'
    ]
  })

  +lw-select({
    options: [
      'Цена от - до, руб.',
      '1 000 000 - 5 000 000',
      '10 000 000 - 50 000 000',
      '100 000 000 - 500 000 000',
    ]
  })

  +lw-select({
    options: [
      'Тип квартиры',
      '1-комнатная',
      '2х-комнатная',
      '3х-комнатная',
      '4х-комнатная',
    ]
  })

  +lw-btn({
    cls: 'lw-main-btn',
    tag: 'button',
    text: 'Подобрать'
  })


