.user
  img(src="../assets/img/user-avatar.png" alt="Аватар" width="60" height="60").user-avatar

  .user-content
    span.lw-text.lw-text--sm Ваш менеджер <span class="user-name">Константинов Константин</span>
    span.user-phone.lw-text.lw-text--sm.lw-text--light Телефон: <a href="tel:+79999999999">+7 (999) 999 99 99</a>
    span.user-mail.lw-text.lw-text--sm.lw-text--light Почта: <a href="mailto:info-email@mail.ru">info-email@mail.ru</a>
