extends layouts/main-layout.pug

block variables
  -
    const title = "Детальная объекта"
    const desc = ""
    const keywords = ""

block content
  include ./components/breadcrumbs
  include ./views/object-detail-view

block modals
  include ./modals/map-modal

