.modal-overlay
  .modal.map-modal
    button(type="button" aria-label="Закрыть").modal-closer
      img(src="./assets/img/icon-close.svg" alt="Закрыть" width="24" height="18")
    .modal__content
      #yMapModal(data-center="59.90297506420561, 30.39827949999997" data-coords="59.90297506420561, 30.39827949999997")
