mixin lw-simple-table(data)
  .lw-simple-table
    table
      if data.thead
        thead
          each row in data.thead.rows
            tr
              each data in row.tds
                td(align = data.align ? data.align : 'left')!= data.text
      tbody
        each row in data.tbody.rows
          tr
            each data in row.tds
              td(align = data.align ? data.align : 'left')!= data.text
