include ../mixins/lw-logo

header.main-header
  .lw-container.main-header__container
    +lw-logo({
      img: 'icon-logo.svg',
      imgAlt: 'JoyWork',
      imgHeight: '40',
      imgWidth: '125'
    })

    include ../components/company-slogan
    include ../components/header-contacts
    include ../components/fv-btn
    include ../components/user
    include ../components/burger



